{{define "header"}}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="sport timing,čipová časomíra, měření závodů">
<meta name="description" content="Výsledkový systém a čipová časomíra">
<meta name="author" content="TimeChip">
<meta name="Robots" content="index,follow" />
<link rel="stylesheet" href="/static/css/fontello.css" media="screen" />
<link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="/static/css/bootstrap-table.min.css" media="screen" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:301,400,700' rel='stylesheet' type='text/css'>
{{end}}
