<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
<title>Výsledkový systém a čipová časomíra TimeChip | {{ .Title }}</title>
{{template "header"}}
</head>
{{template "navbar"}}

<div class="underbar">
    <div class="container">
        <h1> {{ .Title }}</h1>
    </div>
</div>

<div class="container content">

<div class="underbar"><div class="container"><h1> {{ .Title }}</h1></div></div>


<div class="container content">
    <div class="row heading">
        <div class="col-xs-12">
            <h2>Co se děje u nás...</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="list-group indexbox our-news">
                            <div class="list-group-item-heading clearfix">
                                <h4>Nejbližší akce</h4>
                                <span class="fontello icon-calendar"></span>
                            </div>
                            {{range .Data.nejblizsi_zavody}}
                                <a style="height:82px" class="list-group-item" target="_blank" href="{{.Web}}" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="/static/img/race-type-icons/{{.Icon}}-icon.gif" />
                                    </div>
                                    <h3>{{.DatumZavodu}}</h3>
                                    <p>{{.NazevZavodu}}</p>
                                </a>
                            {{end}}
                        </div>
                            {{range .Zavody}}


                                <a style="height:82px" class="list-group-item" target="_blank" href="" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/" />
                                    </div>
                                    <h3>{{.DatumZavodu}}</h3>
                                    <p>{{.NazevZavodu}}</p>

                                </a>
                                {{end}}

                        </div>





                    </div>
                </div>
                <div class="col-lg-6 visible-lg">
                    <div class="thumbnail homepage-imagewrapper">
                        <div class="thumbnail">
                            <ul class="bxslider list-unstyled">
                                <li><img src="/static/img/orlice-cup.jpg" /></li>
                                <li><img src="/static/img/festina-24h.jpg" /></li>
                                <li><img src="/static/img/valachiarun.jpg" /></li>
                                <li><img src="/static/img/chuchle.jpg" /></li>
                                <li><img src="/static/img/belsky-okruh.jpg" /></li>
                                <li><img src="/static/img/dobroslavicky-jarni-duatlon.jpg" /></li>
                                <li><img src="/static/img/perun.jpg" /></li>
                                <li><img src="/static/img/odrivousuv-pohar.jpg" /></li>
                                <li><img src="/static/img/machacsky-pohodar.jpg" /></li>
                                <li><img src="/static/img/auto-enge-triatlon.jpg" /></li>
                                <li><img src="/static/img/valachiarun-vsetin.jpg" /></li>
                                <li><img src="/static/img/zelezny-prajzak.jpg" /></li>
                                <li><img src="/static/img/madeja-skialp-bila.jpg" /></li>
                                <li><img src="/static/img/jesenicka-70.jpg" /></li>
                                <li><img src="./img/orlice-cup.jpg" /></li>
                                <li><img src="./img/festina-24h.jpg" /></li>
                                <li><img src="./img/valachiarun.jpg" /></li>
                                <li><img src="./img/chuchle.jpg" /></li>
                                <li><img src="./img/belsky-okruh.jpg" /></li>
                                <li><img src="./img/dobroslavicky-jarni-duatlon.jpg" /></li>
                                <li><img src="./img/perun.jpg" /></li>
                                <li><img src="./img/odrivousuv-pohar.jpg" /></li>
                                <li><img src="./img/machacsky-pohodar.jpg" /></li>
                                <li><img src="./img/auto-enge-triatlon.jpg" /></li>
                                <li><img src="./img/valachiarun-vsetin.jpg" /></li>
                                <li><img src="./img/zelezny-prajzak.jpg" /></li>
                                <li><img src="./img/madeja-skialp-bila.jpg" /></li>
                                <li><img src="./img/jesenicka-70.jpg" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="list-group indexbox our-news">
                            <div class="list-group-item-heading clearfix">
                                <h4>Poslední výsledky</h4>
                                <span class="fontello icon-table"></span>
                            </div>
                            {{range .Data.posledni_vysledky}}
                                <a style="height:82px" class="list-group-item" target="_blank" href="{{.Web}}" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="/static/img/race-type-icons/{{.Icon}}-icon.gif" />
                                    </div>
                                    <h3>{{.DatumZavodu}}</h3>
                                    <p>{{.NazevZavodu}}</p>
                                </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>











{{template "footer"}}
