<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
<title>Výsledkový systém a čipová časomíra TimeChip | Hlavní strana</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="sport timing,čipová časomíra, měření závodů">
<meta name="description" content="Výsledkový systém a čipová časomíra">
<meta name="author" content="TimeChip">
<meta name="Robots" content="index,follow" />
<link rel="stylesheet" href="/static/css/fontello.css" media="screen" />
<link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="/static/css/bootstrap-table.min.css" media="screen" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:301,400,700' rel='stylesheet' type='text/css'>

</head>

<body>
<div class="wrapper">
    
    <div class="underbar">
        <div class="container">
            <h1> Hlavní strana</h1>
        </div>
    </div>
    <div class="container content" style="height:2000px">
    <div class="row heading">
        <div class="col-xs-12">
            <h2>Co se děje u nás...</h2>
        </div>
    </div>

       
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        
                        <div class="col-lg-3">
                            <div class="thumbnail boxwrapper">
                                <div class="list-group indexbox our-news">
                                    <div class="list-group-item-heading clearfix">
                                        <h4>Nejbližší akce</h4>
                                        <span class="fontello icon-calendar"></span>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




</body>
</html>
